* {
  /* outline: 1px solid #999; */
  font-family: 'Open Sans', sans-serif;
}

html {
  min-width: 1200px;
}

/* .background img {
  width: 100%;
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 0;
} */

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #eeeeee;
  border-bottom: 1px solid #EAEAEA;
  padding: 30px 0 45px;
  text-align: center;
}

nav {
  font-size: 0;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.logo img {
  display: block;
  width: 55px;
  margin: 0 auto;
}

.logo_image img {
  width: 100%;
}

.logo span {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.menu {
  display: inline-block;
  vertical-align: middle;
  margin:0 72px;
}

.menu a {
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  color: #888;
  padding: 10px 0;
}

.menu a + a {
  margin-left: 103px;
}

a:hover { 
  color: orange;
}

.introduce {
  background-color: #FDFDFD;
  padding: 60px 0 100px;
}

.main_introduce {
  width: 950px;
  margin: 0 auto;
  font-size: 0;
}

.introduce_left {
  display: inline-block;
  width: 425px;
  margin-left: 25px;
  vertical-align: top;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  margin: 0 0 -15px;
}

h3 {
  font-size: 34px;
  font-weight: 400;
  color: #333;
  margin: 0;
  
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #777;
  text-align: justify;
  margin: 0;
}

.button_area {
  margin-top: 24px;
}

.button_with_text {
  width: 260px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 260px;
  height: 70px;
  background: linear-gradient(#FFBA55 55%, #F99600 45%);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  text-decoration: none;
}

.button:hover {
  color: white;
}

.button_with_text span {
  font-size: 15px;
  color:  #777;
}

.introduce_right {
  display: inline-block;
  width: 450px;
  margin-left: 50px;
}

.introduce_right img{
  width: 100%;
}

.description {
  padding: 50px 0 235px;
}

article {
  width: 950px;
  margin: 0 auto;
  column-count: 2;
  column-gap: 50px;
}

article h3{
  column-span: all;
  margin-bottom: 20px;
}

article p:not(:nth-of-type(3n)) {
  margin-bottom: 20px;
}


footer {
  background-color: #eeeeee;
  border-top: 1px solid #EAEAEA;
  padding: 32px 0 20px;
}

.information {
  width: 990px;
  font-size: 0;
  margin: 0 auto;
}

.copyrights {
  display: inline-block;
  font-size: 14px;
  color: #888;
  line-height: 40px;
}

.social_media {
  float: right;
}

.social_media a {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
}

.social_media a + a {
  margin-left: 20px;
}

.fab {
  color: #222;
}

.fab:hover {
  color: orange;
}

/* .clear {
  clear: both;
} */

.information:after { 
  content: "";
  display: block; 
  clear: both;
}